.naova_press_section {
    padding-bottom: 20px;
}

@supports (text-align-last: center) {
    .naova-press-resume{
        text-align: justify;
        -moz-text-align-last: center;
        text-align-last: center;
    }
}

.naova-press-resume{
    text-align: center;
}

.naova-press-resume .btn-default {
    color: white;
    background-color: #e00b4d;
    border-color: black;
} 

.naova-press-resume .btn-default:hover {
    color: #fff;
    background-color: #bf003b;
    border-color: black;
} 

.press-card {
    background: red;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
}

.press-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
}